<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> SPM Independent University,Dhaka  </title>
    <link rel="stylesheet" href = "/admin.css">
    <link rel="stylesheet" href =  "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>

<body>
<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2> <span class="lab la-accusoft"> </span> <span> SPM</span></h2>

    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/Admin"><span class="las la-igloo"></span>
                    <span>Student Performance Monitor</span></a>
            </li>
            <li>
                <a href="/register"><span class="las la-igloo"></span>
                    <span>Register Users</span></a>
            </li>
            <li>
                <a href="/adminSchoolWise" class="active"><span  class="las la-clipboard-list"></span>
                    <span> School-Wise PLO</span></a>
            </li>
            <li>
                <a href="/adminDepartmentWise" ><span  class="las la-clipboard-list"></span>
                    <span> Department-Wise PLO</span></a>
            </li>
            <li>
                <a href="/adminProgramWise"><span class="las la-clipboard-list"></span>
                    <span> Program-Wise PLO</span></a>
            </li>
            <li>
                <a href="/adminStudentEnrolled"><span class="las la-clipboard-list"></span>
                    <span> Student Enrolled </span></a>
            </li>


            <li>
                <a href="/adminMyAccount"><span class="las la-user"></span>
                    <span> My Account </span></a>
            </li>
            <li>
                <a href="/login"><span class="las la-sign-out-alt"></span>
                    <span> Sign-Out</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            School-Wise Data
        </h2>
        <div class="user-wrapper">
            <img src="{{AdminProfile}}" alt="Sadita ahmed" width="30px" height="30px"></a>
            <div>
                <h4>{{A_F_Name}} {{A_L_Name}}</h4>
                <small> ADMIN, {{AdminID}} </small>
            </div>
        </div>
    </header>
    <main>
        School wise Charts will be shown here

    </main>
</div>

</body>

</html>
