<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> SPM Independent University,Dhaka  </title>
    <link rel="stylesheet" href = "/facultyCourses.css">
    <link rel="stylesheet" href =  "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>

<body>
<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2> <span class="lab la-accusoft"> </span> <span> SPM</span></h2>

    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/Faculty" ><span class="las la-igloo"></span>
                    <span>Student Performance Monitor</span></a>
            </li>
            <li>
                <a href="/facultyCourses" ><span  class="las la-school"></span>
                    <span> My Courses</span></a>
            </li>
            <li>
                <a href="/facultyDataEntry"><span class="las la-database"></span>
                    <span> Data Entry</span></a>
            </li>

            <li>
                <a href="/facultyStudentReport"><span class="las la-clipboard-list"></span>
                    <span> Department Student Report</span></a>
            </li>

            <li>
                <a href="/facultyDownloads"><span class="las la-download"></span>
                    <span> Downloads</span></a>
            </li>
            <li>
                <a href="/facultyMyAccount" class="active" ><span class="las la-user"></span>
                    <span> My Account </span></a>
            </li>
            <li>
                <a href="/login"><span class="las la-sign-out-alt"></span>
                    <span> Sign-Out</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Dashboard
        </h2>
        <div class="user-wrapper">
            <a <><img src="https://i.ibb.co/BPT5tN5/Screenshot-1.png" alt="Sadita ahmed" width="30px" height="30px"></a>
            <div>
                <h4>Ms. Sadita Ahmed</h4>
                <!--                <small> 100001 </small>-->
                <small> Faculty, CSE</small>
            </div>
        </div>
    </header>
    <main>

       Account Info

    </main>
</div>

</body>

</html>