<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/usersStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>You aint an Iubian, go away shoo shoo, else, I will make you eat bangi</h1>
<nav>
    <h4><a href="/register">Register</a></h4>
    <h4><a href="/login">login</a></h4>
</nav>

</body>
</html>