<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/usersStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>My GODD, you really got in...How the helll?</h1>
<nav>
    <h4><a href="/register">Register</a></h4>
    <h4><a href="/login">login</a></h4>
</nav>

</body>
</html>