<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css rel="stylesheet" id="bootstrap-css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="stylesheet.css" rel="stylesheet" type="text/css">
    <script src ="jquery.js"></script>
</head>

<div class="login-reg-panel">
    <div class="login-info-box">
        <h2>Have an account?</h2>
        <p>Welcome</p>
        <label id="label-register" for="log-reg-show">Login</label>
        <input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
    </div>

    <div class="register-info-box">
        <h2>Welcome to IUB Student Assessment</h2>
        <p>Use your authenticated id to signin</p>
        <p>Don't have an account?</p>
        <label id="label-login" for="log-login-show">Register</label>
        <input type="radio" name="active-log-panel" id="log-login-show">
    </div>

    <div class="white-panel">
        <div class="login-show">
            <h2>Login</h2>
            <input type="text" placeholder="Enter Id">
            <input type="password" placeholder="Password">
            <input type="button" value="Login">
            <a href="">Forgot password?</a>
        </div>
        <div class="register-show">
            <h2>REGISTER</h2>
            <input type="text" placeholder="Enter Id">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Confirm Password">
            <input type="button" value="Register">
        </div>
    </div>
</div>